@charset "UTF-8";

/*inputスタイル*/
input[type="checkbox"]{
	display: none;
	+ label .select{
		display: inline-block;
		vertical-align: middle;
		height: 16px;
		width: 16px;
		background-image: url(../images/form_check_a.svg);
		background-size:100%;
	}
	&:checked{
		+ label .select{
		background-image: url(../images/form_check_b.svg);
		}
	}
}

input[type="checkbox"].cbox_switch{
	display: none;
	+ label .select{
		display: inline-block;
		vertical-align: middle;
		height: 16px;
		width: 32px;
		background-image: url(../images/form_switch_a.svg);
		background-size:100%;
	}
	&:checked{
		+ label .select{
		background-image: url(../images/form_switch_b.svg);
		}
	}
}

input[type="radio"]{
	display: none;
	+ label .select{
		display: inline-block;
		vertical-align: middle;
		height: 16px;
		width: 16px;
		background-image: url(../images/form_radio_a.svg);
		background-size:100%;
	}
	&:checked{
		+ label .select{
		background-image: url(../images/form_radio_b.svg);
		}
	}
}

/*実験的*/
.input-textarea{
	font-size: 1em;
	padding: 0.2em;
	border: 1px solid $md-grey-200;
}


.input-textarea--r{
	border-radius: 3px;
}
/*
.input-list{
	font-size: 1em;
	padding: 0.2em;
	border-bottom: none;
}
*/

@media screen and (min-width: 480px) {
	.list-filter-item{
		flex-basis: 50%;
	}
}
@media screen and (min-width: 768px) {
	.list-filter-item{
		flex-basis: 33%;
	}
}

@media screen and (min-width: 1200px) {

}
