@charset "UTF-8";

//list-toolsは修正予定
.list-tools{
	height: 34px;
	width: 100%;
	.list-action-left{
		float: left;
		height: 100%;
	}
	.list-action-right{
		float: right;
		height: 100%;
	}
	.search-box{
		float: right;
		height: 100%;
		input[type=text]{
			border: 1px solid $md-grey-400;
			border-bottom: none;
		}
		.search-box__button{
			height: 100%;
			background-color: $md-blue-300;
			float: right;
			display: table-cell;
			i{
				font-size: 18px;
				display: inline;
				color: white;
				line-height: 34px;
				padding: 0 10px;
			}
		}
		& > * {
			height: 100%;
		}
	}
}

.list-filter{
	width: 100%;
	height: 300px;//auto
}

//form タグをどこに配置するか(flexに影響)
.n-list-tools{
	$th: 28px;
	height: $th;
	//background-color: aqua;
	width: 100%;
	display: flex;
	justify-content: space-between;
	.n-list-action{
		display: flex;
		height: $th;
		.input-list{
			height: 100%;
		}
		.n-list-action-button{
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			height: $th;
			line-height: $th;
			font-size: 14px;
			padding: 0 6px;
			margin-left: 2px;
			border-radius: 3px;
			width: auto;
			color: white;
			background-color: $md-blue-500;
			//padding: 2px;
		}
	}
	.n-searchbox{
		height: $th;
		display: flex;
		float: right;
		.n-search-box-input{
			height: $th;
		}
		.n-search-button{
			height: $th;
			width: 28px;
			background-color: $md-blue-500;
			border-right: 1px solid $md-blue-600;

			text-align: center;
			i{
				color: white;
				display: inline-block;
				line-height: $th;
				font-size: 16px;
			}
		}
		.n-filter-button{
			height: $th;
			width: 28px;
			background-color: $md-blue-300;
			text-align: center;
			i{
				color: white;
				display: inline-block;
				line-height: $th;
				font-size: 16px;
			}
		}
	}
}

/*inputスタイル*/
input[type="checkbox"]{
	display: none;
	+ label .select{
		display: inline-block;
		vertical-align: middle;
		height: 16px;
		width: 16px;
		background-image: url(../images/form_check_a.svg);
		background-size:100%;
	}
	&:checked{
		+ label .select{
		background-image: url(../images/form_check_b.svg);
		}
	}
}

input[type="radio"]{
	display: none;
	+ label .select{
		display: inline-block;
		vertical-align: middle;
		height: 16px;
		width: 16px;
		background-image: url(../images/form_radio_a.svg);
		background-size:100%;
	}
	&:checked{
		+ label .select{
		background-image: url(../images/form_radio_b.svg);
		}
	}
}

/*実験的*/
.input-textarea{
	font-size: 1em;
	padding: 0.2em;
	border: 1px solid $md-grey-200;
}


.input-textarea--r{
	border-radius: 3px;
}
/*
.input-list{
	font-size: 1em;
	padding: 0.2em;
	border-bottom: none;
}
*/
