@charset "UTF-8";

body{
	margin: 0;
	font-size: 14px;
	background-color: $md-grey-300;
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.wrapper{

}
/*ナビゲーション部*/
.topbar-inner{
	//最大幅制限無効化
	//max-width: 1200px;
	margin: 0 auto;
}

/*コンテンツ部*/
.contentswrapper{
	/*ナビゲーションバー分のマージン(1列)*/
	margin-top: 48px;
	width: 100%;
	font-size: 1em;
	z-index: 1;
}

.contentwrapper-nonav{
	width: 100%;
	font-size: 1em;
	margin-top: 0;
}

.contents{
	//最大幅制限無効化
	//max-width: 1200px;
	margin: 0 auto;
	z-index: 0;
}


.inner-login{
	padding: 0 16px;
}

/*文字関連*/
.title-section{
	font-size: 1.7em;
	margin: 0;
}

/*navigation関連*/
	.menu-set{
		padding-left: 0;
	}

/*section*/

.section{
    background-color: $md-white;
	padding: 8px;
}

.section-card-wrapper{
    padding: 8px;
}

.section-card{
    background-color: $md-white;
    border-radius: 3px;
    //padding: 8px 0;
    margin-bottom: 8px;
    //overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);

}
.content-header{
    width: 100%;
    background-color: $md-blue-500;
    padding: 8px 8px;
}

.content-header-title{
    margin: 0;
    color: white;
}

@media screen and (min-width: 480px) {
	.contentwrapper-nonav{
		margin-top: 0;
	}
}

@media screen and (min-width: 768px) {
	.menu-set{
		padding-left: 200px;
	}
}

@media screen and (min-width: 1200px) {

}
