@charset "UTF-8";

body{
	margin: 0;
	font-size: 14px;
	background-color: $md-grey-200;
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.wrapper{

}
/*ナビゲーション部*/
.topbar-inner{
	max-width: 1200px;
	margin: 0 auto;
}

/*コンテンツ部*/
.contentswrapper{
	/*ナビゲーションバー分のマージン(2列)*/
	margin-top: 96px;
	width: 100%;
	font-size: 1em;
	/*コンテンツエリアの背景色*/
	background-color: $md-grey-50;
}

.contentwrapper-nonav{
	width: 100%;
	font-size: 1em;
	margin-top: 0;
}

.contents{
	max-width: 1200px;
	margin: 0 auto;
}

.section{
	padding: 16px 8px;
}


.inner-login{
	padding: 0 16px;
}

/*文字関連*/
.title-section{
	font-size: 1.7em;
	margin: 0;
}

/*navigation関連*/
	.menu-set{
		padding-left: 0;
	}

@media screen and (min-width: 480px) {
	.contentswrapper{
		/*ナビゲーションバー分のマージン(1列)*/
		margin-top: 48px;
	}

	.contentwrapper-nonav{
		margin-top: 0;
	}

	.contents{
		/*コンテンツエリアに最小幅を設定(検討中)*/
		//min-width: 768px;
	}

	/*メニュートグル時に左側にpadding*/
	.menu-set{
		padding-left: 200px;
	}
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1200px) {

}
