@charset "UTF-8";

.navigation{
    box-sizing: content-box;
    /*下部ボーダーのためcontent-box*/
    position: fixed;
	top: 0;
    left: 0;
	z-index: 999;
	//height: 96px;
    width: 100%;
    background-color: $md-grey-100;
    border-bottom: 1px solid $md-grey-300;
}

.navigation__title{
	display: block;
	height: 48px;
	max-width: 100%;
	float: left;
}

.navigation__toggle{
	padding: 0 16px 0 8px;
    margin: 0 0 0 0;
	font-size: 28px;
	line-height: 48px;
    cursor: pointer;
	//float: left;
}

.menu{
}

.menu__button{
    float: left;
    width: 50%;
    background-color: $md-grey-100;
    &:hover{
        background-color: $md-grey-200;
    }
}

.menu__icon{
	font-size: 24px;
	line-height: 44px;
    height: 44px;
    text-align: center;
}

@mixin menu__icon__color($menu_iconbgcolor: 0, $border-bcolor: 0){
    border-bottom: 4px solid $border-bcolor;
    background-color: red;
    &:hover{

    }
}

.menu__border--grey{
    border-bottom: 4px solid $md-blue-grey-400;

}
.menu__border--green{
    border-bottom: 4px solid $success-color;
}

.menu__border--orange{
    border-bottom: 4px solid $infomation-color;
}

.menu__border--red{

    border-bottom: 4px solid $failed-color;
}

.fa-inline{
    margin-right: 0.2em;
}


.notifications__list{
    display: none;
    position: absolute;
    top: 96px;
    right: 0;
    width: 100%;
    padding: 0;
    //background-color: blue;

    ul{
        //background-color: darkolivegreen;
        background-color: $md-grey-50;
        list-style: none;
        margin: 0;
        padding: 0;
        //border-radius: 0px 0px 3px 3px;
        //border: 1px solid $md-grey-300;
        li{
            padding: 8px 8px;
        }
        li + li{
            border-top: 1px solid $md-grey-200;
        }
    }
}

.notifications__time{
    float: right;
    font-size: 0.4em;
}

.notifications__machine-name{
    float: left;
    font-size: 0.9em;
}

.notifications__message{
    font-size: 0.8em;
    width: 100%;
}

.menu__list__title{
    font-size: 1rem;
    line-height: 1rem;
    border-bottom: 2px solid $md-light-green-400;
    background-color: $md-grey-50;
    padding: 0.5rem;
}


@media #{$mediaquery-tablet} {

}

@media #{$mediaquery-desktop} {
	.navigation__toggle{
		display: none;
	}
    .notifications__list{
        top: 48px;
    }
}

@media #{$mediaquery-wide-desktop} {

}
