@charset "UTF-8";


#fullheight{
    overflow: scroll;


}
//list-toolsは修正予定
.list-tools{
	height: 34px;
	width: 100%;
	.list-action-left{
		float: left;
		height: 100%;
	}
	.list-action-right{
		float: right;
		height: 100%;
	}
	.search-box{
		float: right;
		height: 100%;
		input[type=text]{
			border: 1px solid $md-grey-400;
			border-bottom: none;
		}
		.search-box__button{
			height: 100%;
			background-color: $md-blue-300;
			float: right;
			display: table-cell;
			i{
				font-size: 18px;
				display: inline;
				color: white;
				line-height: 34px;
				padding: 0 10px;
			}
		}
		& > * {
			height: 100%;
		}
	}
}


//form タグをどこに配置するか(flexに影響)
$list-tools-background: $md-white;
$list-tools-btn-color: $md-blue-500;
$list-tools-searchbtn-color: $md-blue-500;
$list-tools-filterbtn-color: $md-blue-200;
$list-tools-filterbtn-color-active: $md-orange-500;


.n-list-tools{
    background-color: $list-tools-background;
    border-bottom: 1px solid $md-grey-300;
}

.list-header-fix{

}

.n-list-toolbar{
	$th: 28px;
	//background-color: aqua;
	width: 100%;
    padding: 8px;
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
	.n-list-action{
		display: flex;
		height: $th;
        button + button{
        margin-left: 8px;
        }
		.input-list{
			height: 100%;
		}
	}
	.n-searchbox{
		height: $th;
		display: flex;
		float: right;
		.n-search-box-input{
			height: $th;
		}
		.n-search-button{
			height: $th;
			width: 28px;
			background-color: $list-tools-searchbtn-color;
			border-right: 1px solid darken($list-tools-searchbtn-color, 10%);
			text-align: center;
			i{
				color: white;
				display: inline-block;
				font-size: 16px;
			}
		}
		.n-filter-button{
			height: $th;
			width: 28px;
			background-color: $list-tools-filterbtn-color;
			text-align: center;
			cursor: pointer;

			i{
                color: $md-white;
				display: inline-block;

				font-size: 16px;
			}
		}
        .n-filter-button-active{
            background-color: $list-tools-filterbtn-color-active;
        }
	}
}

$list-filter-background: $md-white;
$list-filter-border: $md-grey-300;
$list-filter-group-header-background:$md-grey-50;
$list-filter-group-header-border:$md-grey-400;

.list-filter{
	width: 100%;
	display: flex;
    display: none;
	flex-direction: column;
	border-top: 1px solid $list-filter-border;
	background-color: $list-filter-background;
}

.list-filter-group{
	//flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	justify-content: space-between;
	border-top: 1px solid $list-filter-border;
	&:first-child{
		border-top: none;
	}
}

.list-filter-item{
	flex-direction: row;
	//flex-grow: 1;
	flex-basis: 100%;
	padding: 16px 8px;
}

.list-filter-title{
	display: block;

}

.list-group-title{
	flex-basis: 100%;
	display: block;
	width: 100%;
	padding: 4px 0 4px 8px;
	font-size: 0.8em;
	border-bottom: 1px solid $list-filter-group-header-border;
    background-color: $list-filter-group-header-background;

}

.list-filter-comment{
	display: block;
	font-size: 0.8em;
	color: $md-grey-700;
}

$table-background: $md-white;
$table-border: $md-grey-300;

$table-header-background: $md-grey-50;
$table-header-border: $md-grey-400;
$table-row-hover: $md-grey-50;


.table-wrapper{
	overflow: scroll;
	overflow: auto;
    border-radius: inherit;
}

.table{
	width: 100%;
	border-collapse: collapse;
	//border: 1px solid $md-grey-300;
	//border-radius: 6px;
	//overflow: hidden;
	//overflow: scroll;
	//overflow: auto;

	thead{
		tr{
			th{
				text-align: left;
				background-color: $table-header-background;
				border-bottom: 1px solid $table-header-border;
				height: 32px;
				font-weight: normal;
				font-size: 0.9em;
				padding: 1em 0.5em;
			}
			.cbox__selectall{
				width: 48px;
				padding-left: 12px;
			}
		}
	}
	tbody{
        background-color: $table-background;
		tr{
			border-bottom: 1px solid $table-border;
			&:last-child{
				border-bottom: none;
			}
			&:hover{
				background-color: $table-row-hover;
			}

			td{
				text-align: left;
				height: 32px;
				font-weight: normal;
				font-size: 0.9em;
				padding: 0.8em 0.5em;
			}
		}
	}
}

.table-fullwindow{

    .table{
        thead{

            tr{
                th{

                }
            }
        }
        .thead-dummy{
            height: 0px;
            tr{
                td{
                    height: 0px;
                    padding: 0px;
                }
            }
        }
    }
}

.list-data-ctrl{
	height: 32px;
	padding: 0;
	width: auto;
	vertical-align: middle;
}

.list-data-cbox{
	//background-color: red;
	display: inline-block;
	//padding-left: 12px;
	vertical-align: middle;
	//font-size: 16px;
	width: 1.5em;
	text-align: center;
}

.list-data-option{
	//background-color: green;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	width: 16px;
	vertical-align: middle;
	text-align: center;
	color: $md-grey-600;
	position: relative;
}

.list-data-option-icon{
	cursor: pointer;
}

.dropdown-menu{
	position: absolute;
	display: none;
	width: 100px;
	background-color: white;
	border-radius: 3px;
	//border: 1px solid $md-grey-500;
	box-shadow:rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
	z-index: 999;
		ul{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			margin: 0;
			a{
				display: inline-block;
				//padding: 16px 8px;
				width: 100%;
				height: inherit;
				font-size: 0.8em;
				text-decoration: none;
				padding: 4px;
				color: $md-grey-700;
				cursor: pointer;
				&:hover{
					background-color: $md-grey-100;
				}
				&:active{

				}
				&:active{

				}
			}
		}
	}
}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1200px) {

}
