@charset "UTF-8";

.topbar{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background-color: $md-grey-200;
	border-bottom: 1px solid $md-grey-400;
	//一番手前
	z-index: 3;
}

.topbar-title{
    height: 48px;
    float: left;
	padding: 10px 8px;

}
.eisen-logo{
	height:100%;
	width: auto;
}

.eisen-logo-cls-1{
	fill:$md-grey-900;
	fill-rule: evenodd;
}

.navigation-toggle{
	float: left;
	padding: 0 16px 0 8px;
	margin: 0 0 0 0;
	font-size: 28px;
	line-height: 48px;
	cursor: pointer;
}

/*メニューボタン*/
.menu{
	float: right;
	width: auto;
}

.menu-button{
	float: left;
	background-color: $md-grey-200;

	&:hover{
		background-color: $md-grey-300;
	}
}

.menu-icon{
	padding: 0 8px;
	font-size: 24px;
	line-height: 44px;
	height: 44px;
	text-align: center;
	cursor: pointer;
}

.menu-icon-text{
	display: none;
}

/*ポップアップ*/
.menu-popup{
	display: none;
	position: absolute;
	width: 250px;
	top: 48px;
	right: 0px;
	border: 1px solid $md-grey-400;
	border-radius: 0 0 6px 6px;
	background-color: $md-grey-50;
}

.popup-title{
	width: 100%;
	padding: 8px;
	font-size: 1em;
	line-height: 1em;
	border-bottom: 2px solid $md-light-green-400;
	background-color: $md-grey-50;
}

.popup-contents{
	max-height: 200px;
	overflow: scroll;
	overflow: auto;
}

/*通知リスト*/
.menu-list-items{
	overflow: scroll;
	overflow: auto;
	ul{
		list-style: none;
		margin: 0;
		padding: 0 8px;
		li{
			padding: 8px 0;
			a{
				display: inline-block;
				width: 100%;
				text-decoration: none;
				padding: 0.2em 0;
				color: inherit;
				&:link{
				}
				&:visited{
				}
				&:hover{
					color: $md-blue-500;
					text-decoration: underline;
				}

			}
		}
		li + li{
			border-top: 1px solid $md-grey-300;
		}

	}
	.link-list-fw{
			padding: 0;
		a{
			padding-left: 8px;
		}
	}
}

.notifications-time{
	float: right;
	font-size: 0.4em;
}

.notifications-machine-name{
	float: left;
	font-size: 0.9em;
}

.notifications-message{
	font-size: 0.8em;
	width: 100%;
}
.menu-user-id{
	display: inline-block;
	width: 100%;
}

.separator{
	border-bottom: 1px solid $md-grey-300;
	width: 100%;
	height: 1px;
}

.menu-user-id-suffx{
	font-size: 0.8em;
}


/*メニューボタン下のステータス表示*/

.menu-border{
	border-bottom:4px solid $md-blue-400;
	&:hover{
		border-bottom: 4px solid $md-blue-600;
	}

}

.fa-inline{
	margin-right: 0.2em;
}

@media screen and (min-width: 480px) {
	/*
	, screen and (min-device-width: 480px)
	*/



	.menu{

	}

	.menu-button{
		position: relative;
		width: auto;
	}

	.menu-machines{
		.menu-icon{
			text-align: left;
		}
	}

	.menu-notifications{

	}

	.menu-icon{
	padding: 0 16px;
		i{
			display: inline-block;
			vertical-align: middle;
		}
	}

	.menu-icon-text{
		vertical-align: middle;
		display: inline-block;
		max-width: 6em;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		span{
			display: inline;
			font-size: 16px;
			vertical-align: middle;
		}
	}
}

@media screen and (min-width: 768px) {
	.topbar{
		// navigation表示によるpadding調整
		padding-left: 200px;
	}

	.navigation-toggle{
		/*navigationのトグルはモバイルのみ*/
		display: none;
		float: left;
	}
}

@media screen and (min-width: 1200px) {

}
