@charset "UTF-8";
/*style.scss
------------------------------------------------//

------------------------------------------------*/
/* colors
------------------------------------------------*/
@import "colors";

$failed-color: $md-red-500;
$success-color: $md-light-green-500;
$infomation-color: $md-light-blue-500;


/* mediaquery
------------------------------------------------*/
$mediaquery-tablet: "screen and (min-width: 480px)";
$mediaquery-desktop: "screen and (min-width: 768px)";
$mediaquery-wide-desktop: "screen and (min-width: 1200px)";

/* universal
------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
 }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

/* mobile styles
------------------------------------------------*/
body{
margin: 0;
  font-size: 16px;
  /*1em = 16px*/
        background-color: $md-grey-100;
}

.wrapper{

}

.navigation{
    box-sizing: content-box;
    /*下部ボーダーのためcontent-box*/
    position: fixed;
	top: 0px;
	z-index: 999;
	height: 48px;
	width: 100%;
    background-color: $md-grey-100;
    border-bottom: 1px solid $md-grey-300;
}

.contentswrapper{
    margin-top: 48px;
}
.contents{

}

.inner{
    padding: 0 8px;
}

.section{
	padding: 24px 0px;
	margin: 0 auto;
    max-width: 960px;
    //background-color: aqua;
    font-size: 1rem;
    background-color: $md-grey-50;
}

.inner--navigation{
    //background-color: red;
}
.title--section{
	font-size: 1.7rem;
	margin: 0;
}

.navigation__title{
	//background-color: dodgerblue;
	display: block;
	height: 48px;
	max-width: 100%;
	float: left;
}
.navigation__toggle{
	//background-color: darkorange;
	padding: 0 16px 0 8px;
	font-size: 32px;
	line-height: 48px;
    cursor: pointer;
	float: left;
}

.menu{
	//background-color: blueviolet;
	height: 48px;
	float: right;
}
.machines, .notifications{
	float: left;
}

.machines{
	//background-color: crimson;
}
.notifications{
	//background-color: darkgreen;
}
.notifications__list{
    display: none;
    position: absolute;
    top: 48px;
    right: 0;
    width: 100%;
    padding: 0 8px;
    //background-color: blue;

    ul{
        //background-color: darkolivegreen;
        background-color: $md-grey-50;
        list-style: none;
        margin: 0;
        padding: 0;
        border-radius: 0px 0px 3px 3px;
        border: 1px solid $md-grey-300;
        li{
            padding: 8px 8px;
        }
        li + li{
            border-top: 1px solid $md-grey-200;
        }
    }
}

.notifications__time{
    float: right;
    font-size: 0.4em;

}
.notifications__machine-name{
    float: left;
    font-size: 0.9em;
}
.notifications__message{
    font-size: 0.8em;
    width: 100%;
}

.menu__list__title{
    font-size: 1rem;
    line-height: 1rem;
    border-bottom: 2px solid $md-light-green-400;
    background-color: $md-grey-50;
}

.menu__icon{
	font-size: 24px;
	line-height: 44px;
    height: 48px;
    padding: 0 14px;
    //border-bottom: 4px solid $md-grey-400;
}

.menu__icon--grey{
    border-bottom: 4px solid $md-blue-grey-400;

}
.menu__icon--green{
    border-bottom: 4px solid $success-color;
}

.menu__icon--orange{
    border-bottom: 4px solid $infomation-color;
}

.menu__icon--red{
    border-bottom: 4px solid $failed-color;
}

.fa-inline{
    margin-right: 0.2em;
}

@media #{$mediaquery-tablet} {

}

@media #{$mediaquery-desktop} {
	.navigation__toggle{
		display: none;
	}
}

@media #{$mediaquery-wide-desktop} {

}
