@charset "UTF-8";
/*style.scss
------------------------------------------------//

------------------------------------------------*/
/* colors
------------------------------------------------*/
@import "colors";

$failed-color: $md-red-500;
$success-color: $md-light-green-500;
$infomation-color: $md-light-blue-500;


/* mediaquery
------------------------------------------------*/
$mediaquery-tablet: "screen and (min-width: 480px)";
$mediaquery-desktop: "screen and (min-width: 768px)";
$mediaquery-wide-desktop: "screen and (min-width: 1200px)";

/* universal
------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
 }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

/* mobile styles
------------------------------------------------*/

@mixin menu__icon__color($menu_iconbgcolor: 0, $border-bcolor: 0){
    border-bottom: 4px solid $border-bcolor;
    background-color: red;
    &:hover{

    }
}

.menu__icon--grey{
    border-bottom: 4px solid $md-blue-grey-400;

}
.menu__icon--green{
    border-bottom: 4px solid $success-color;
}

.menu__icon--orange{
    border-bottom: 4px solid $infomation-color;
}

.menu__icon--red{
    border-bottom: 4px solid $failed-color;
}

.fa-inline{
    margin-right: 0.2em;
}

@media #{$mediaquery-tablet} {

}

@media #{$mediaquery-desktop} {
	.navigation__toggle{
		display: none;
	}
}

@media #{$mediaquery-wide-desktop} {

}
