@charset "UTF-8";
/*style.scss
------------------------------------------------//

------------------------------------------------*/
/* colors
------------------------------------------------*/
/* universal
------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.title {
  font-weight: normal;
}

h1.title {
  font-size: 1.8em;
}

h2.title {
  font-size: 1.5em;
}

h3.title {
  font-size: 1.2em;
}

.title-c {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
}

h1.title-c {
  font-size: 1.8em;
}

h2.title-c {
  font-size: 1.5em;
}

h3.title-c {
  font-size: 1.2em;
}

/* parts
------------------------------------------------*/
body {
  margin: 0;
  font-size: 14px;
  background-color: #eeeeee;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

/*ナビゲーション部*/
.topbar-inner {
  max-width: 1200px;
  margin: 0 auto;
}

/*コンテンツ部*/
.contentswrapper {
  /*ナビゲーションバー分のマージン(1列)*/
  margin-top: 48px;
  width: 100%;
  font-size: 1em;
  /*コンテンツエリアの背景色*/
  background-color: #fafafa;
  z-index: 1;
}

.contentwrapper-nonav {
  width: 100%;
  font-size: 1em;
  margin-top: 0;
}

.contents {
  max-width: 1200px;
  margin: 0 auto;
  z-index: 0;
}

.section {
  padding: 16px 16px;
}

.inner-login {
  padding: 0 16px;
}

/*文字関連*/
.title-section {
  font-size: 1.7em;
  margin: 0;
}

/*navigation関連*/
.menu-set {
  padding-left: 0;
}

@media screen and (min-width: 480px) {
  .contentwrapper-nonav {
    margin-top: 0;
  }

  .contents {
    /*コンテンツエリアに最小幅を設定(検討中)*/
  }

  /*メニュートグル時に左側にpadding*/
  .menu-set {
    padding-left: 200px;
  }
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: #eeeeee;
  border-bottom: 1px solid #bdbdbd;
  z-index: 3;
}

.topbar-title {
  display: none;
}

.eisen-logo {
  display: none;
}

.navigation-toggle {
  float: left;
  padding: 0 16px 0 8px;
  margin: 0 0 0 0;
  font-size: 28px;
  line-height: 48px;
  cursor: pointer;
}

/*メニューボタン*/
.menu {
  float: right;
  width: auto;
}

.menu-button {
  float: left;
  background-color: #eeeeee;
  cursor: pointer;
}
.menu-button:hover {
  background-color: #e0e0e0;
}

.menu-icon {
  padding: 0 8px;
  font-size: 24px;
  line-height: 44px;
  height: 44px;
  text-align: center;
}

.menu-icon-text {
  display: none;
}

/*ポップアップ*/
.menu-popup {
  display: none;
  position: absolute;
  width: 250px;
  top: 48px;
  right: 0px;
  border: 1px solid #bdbdbd;
  border-radius: 0 0 6px 6px;
  background-color: #fafafa;
}

.popup-title {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  line-height: 1em;
  border-bottom: 2px solid #9ccc65;
  background-color: #fafafa;
}

.popup-contents {
  height: 200px;
  overflow: scroll;
  overflow: auto;
}

/*通知リスト*/
.menu-list-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-list-items ul li {
  padding: 8px 8px;
}
.menu-list-items ul li + li {
  border-top: 1px solid #e0e0e0;
}

.menu-list-items {
  overflow: scroll;
  overflow: auto;
}

.notifications-time {
  float: right;
  font-size: 0.4em;
}

.notifications-machine-name {
  float: left;
  font-size: 0.9em;
}

.notifications-message {
  font-size: 0.8em;
  width: 100%;
}

/*メニューボタン下のステータス表示*/
.menu-border {
  border-bottom: 4px solid #42a5f5;
}
.menu-border:hover {
  border-bottom: 4px solid #1e88e5;
}

.fa-inline {
  margin-right: 0.2em;
}

@media screen and (min-width: 480px) {
  /*
  , screen and (min-device-width: 480px)
  */
  .navigation-toggle {
    float: left;
  }

  .navigation-toggle {
    /*navigationのトグルはモバイルのみ*/
    display: none;
  }

  .menu-button {
    position: relative;
    width: auto;
  }

  .menu-machines .menu-icon {
    text-align: left;
  }

  .menu-icon {
    padding: 0 16px;
  }
  .menu-icon i {
    display: inline-block;
    vertical-align: middle;
  }

  .menu-icon-text {
    vertical-align: middle;
    display: inline-block;
    max-width: 6em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .menu-icon-text span {
    display: inline;
    font-size: 16px;
    vertical-align: middle;
  }
}
.navigation {
  padding: 48px 0 0 0;
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  background-color: #424242;
  height: 100vh;
  z-index: 2;
}

.navigation-menu ul {
  color: white;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation-menu ul li a {
  display: inline-block;
  padding: 16px 8px;
  width: 100%;
  color: white;
  text-decoration: none;
}
.navigation-menu ul li a:hover {
  color: white;
  background-color: #616161;
}
.navigation-menu ul li a:active {
  color: white;
}
.navigation-menu ul li a:active {
  color: white;
}
.navigation-menu ul li a i {
  font-size: 1.8em;
  padding: 0 8px 0 0;
  width: 1.2em;
  vertical-align: middle;
}
.navigation-menu ul li a span {
  font-size: 0.9em;
}

@media screen and (min-width: 480px) {
  .navigation {
    left: 0px;
  }
}
/*汎用パーツ*/
input[type="submit"] {
  -webkit-appearance: none;
  border: none;
}

.button {
  display: inline-block;
  margin: 1em 1em 1em 0;
  padding: 12px 24px;
  width: 100%;
  border-radius: 3px;
  background-color: #68CC68;
  color: #FAFAFA;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
}
.button:hover {
  color: #FAFAFA;
  background-color: #42bf42;
}

.button--form {
  display: inline;
  width: auto;
  margin: 0;
  padding: 0.2em 0.4em;
  font-size: 1em;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e0e0e0;
}
.table thead tr th {
  text-align: left;
  background-color: #f5f5f5;
  border-bottom: 1px solid #bdbdbd;
  height: 32px;
  font-weight: normal;
  font-size: 0.9em;
  padding: 1em 0.5em;
}
.table thead tr .cbox__selectall {
  width: 48px;
  padding-left: 12px;
}
.table tbody tr {
  border-bottom: 1px solid #e0e0e0;
}
.table tbody tr:last-child {
  border-bottom: none;
}
.table tbody tr td {
  text-align: left;
  height: 32px;
  font-weight: normal;
  font-size: 0.9em;
  padding: 0.8em 0.5em;
}

.list-tools {
  height: 34px;
}
.list-tools .list-action {
  float: left;
  height: 100%;
}
.list-tools .search-box {
  float: right;
  height: 100%;
}
.list-tools .search-box input[type=text] {
  border: 1px solid #bdbdbd;
  border-bottom: none;
}
.list-tools .search-box .search-box__button {
  height: 100%;
  background-color: #64b5f6;
  float: right;
  display: table-cell;
}
.list-tools .search-box .search-box__button i {
  font-size: 18px;
  display: inline;
  color: white;
  line-height: 34px;
  padding: 0 10px;
}
.list-tools .search-box > * {
  height: 100%;
}

.f_w {
  display: inline;
}

/*inputスタイル*/
input[type=submit] {
  margin: 0;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  vertical-align: middle;
  content: "\f096";
  width: 18px;
  font-size: 18px;
  color: #bdbdbd;
}
input[type=checkbox]:checked + label:before {
  font-family: FontAwesome;
  display: inline-block;
  vertical-align: middle;
  content: "\f046";
  width: 18px;
  font-size: 18px;
  color: #42a5f5;
}

input[type=radio] {
  display: none;
}
input[type=radio] + label {
  font-size: 1em;
}
input[type=radio] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  vertical-align: middle;
  content: "\f10c";
  width: 18px;
  font-size: 18px;
  color: #bdbdbd;
}
input[type=radio]:checked + label:before {
  font-family: FontAwesome;
  display: inline-block;
  vertical-align: middle;
  content: "\f192";
  width: 18px;
  font-size: 18px;
  color: #42a5f5;
}

input[type=text], input[type=password] {
  border: 1px solid #bdbdbd;
  padding: 4px;
}

/*実験的*/
.input-textarea {
  font-size: 1em;
  padding: 0.2em;
  border: 1px solid #eeeeee;
}

.input-textarea--r {
  border-radius: 3px;
}

.input-list {
  font-size: 1em;
  padding: 0.2em;
  border-bottom: none;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  z-index: 999;
  overflow: scroll;
  overflow: auto;
}

.modal-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 17, 26, 0.5);
}

.modal-wrapper {
  z-index: 2;
  position: absolute;
  width: auto;
  max-width: 100%;
  padding: 60px 12px 12px 12px;
}

.modal-window {
  position: relative;
  max-width: 500px;
  background-color: #fafafa;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
}

.modal-header {
  padding: 18px 12px 18px 12px;
  border-bottom: 1px solid #e0e0e0;
}

.modal-title {
  font-size: 18px;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  font-size: 24px;
  padding: 4px 8px 8px 8px;
  margin: 0;
  top: 0;
  right: 0;
  color: #9e9e9e;
}

.modal-contents {
  padding: 12px;
}

/*ページスタイル*/
.login-header {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 1em 0;
  text-align: center;
}
.login-header img {
  margin: 0 auto;
}
.login-header span {
  font-size: 1.5em;
  padding: 1em 1em;
  color: #424242;
}

.login {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 24px;
}
.login form {
  width: 100%;
}
.login form input {
  width: 100%;
  font-size: 1.2em;
  padding: 0.5em;
  border: 1px solid #e0e0e0;
  margin-bottom: 0.7em;
  color: #424242;
}
.login form span {
  font-size: 1em;
  color: #424242;
}

@media screen and (min-width: 480px) {
  .login-header {
    max-width: 300px;
  }

  .login {
    max-width: 300px;
  }
}
.title-c {
  font-size: 1.8em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
}

.setting {
  width: 480px;
  margin: 0 auto 24px auto;
  padding: 24px 48px;
  border: 1px solid #e0e0e0;
  background-color: #fafafa;
}
.setting .setting-container {
  display: flex;
  flex-direction: row;
  padding: 16px 0;
}
.setting .setting-container .setting-item-left {
  flex-basis: 140px;
  border-right: 1px solid #e0e0e0;
}
.setting .setting-container .setting-item-right {
  flex-grow: 1;
  padding-left: 24px;
}
.setting .setting-container .setting-item-right input {
  width: 100%;
}
.setting .button {
  margin-top: 16px;
}

.setup-step {
  margin: 16px auto;
  font-size: 0.9em;
  width: 350px;
}

.setup-step-container {
  display: flex;
}
.setup-step-container .setup-step-item {
  flex-grow: 1;
  width: 100%;
}
.setup-step-container .step-disp {
  margin: 0 auto;
  height: 50px;
  width: 50px;
  background-color: #bdbdbd;
  border-radius: 50%;
  margin-bottom: 4px;
}
.setup-step-container .step-disp .step-disp-text {
  display: inline-block;
  width: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  color: white;
}
.setup-step-container .setup-disp-current {
  background-color: #42a5f5;
}
.setup-step-container .setup-desc {
  display: inline-block;
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
